#guesses {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.row {
    display: flex;
    gap: 10px;
}

.cell {
    display: flex;
    width: 100px;
    height: 100px;
    outline: 0px;
    border: 2px solid darkgray;
    border-radius: 10px;
    background-color: gray;
    color: white;
    font-size: 45px;
    padding: 0px;
    text-align: center;
    caret-color: transparent;
}

.cell.correct {
    background-color: green;
    animation-name: flip;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
}

.cell.present {
    background-color: orange;
    animation-name: flip;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
}

.cell.absent {
    background-color: darkgray;
    animation-name: flip;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
}

@keyframes flip {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}