body {
    background-color: #000000;
    display: flex;
    flex-direction: column;
}

h1 {
    color: white;
    align-self: center;
    font-family: 'Courier New', Courier, monospace;
}

p {
    color: white;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0px;
}

.text_zone {
    display: flex;
    width: 50%;
    align-self: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.btn {
    display: inline-block;
    width: fit-content;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 100ms linear;
}

.btn:hover {
    background-color: #0056b3;
}