body {
    background-color: #1b211a;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #ebd5ab;
    align-self: center;
    font-family: 'Courier New', Courier, monospace;
}

p {
    color: #ebd5ab;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00000028;
}

.text_zone {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

li {
    float: left;
}

.nav_btn {
    display: inline-block;
    width: fit-content;
    padding: 10px 20px;
    background-color: #8bae66;
    color: #1b211a;
    text-decoration: none;
    text-align: center;
    transition: background-color 100ms linear;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.nav_btn:hover {
    background-color: #628141
}