<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% block extras %} {% endblock %}
        <title> {% block title  %} {% endblock %}</title>
    </head>
    <body>
        <ul>
            <li><a class="nav_btn" href="{{ url_for('home') }}">Home</a></li>
            <li><a class="nav_btn" href="{{ url_for('latin_wordle') }}">Latin wordle</a></li>
        </ul>
        <h1>{{ self.title() }}</h1>
        {% block content %} {% endblock %}
    </body>
</html>