{% extends "base.html"%}
{% block title %}Latin wordle{% endblock %}
{% block extras %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/NLHS_wordle.css') }}">
{% endblock %}
{% block content %}
<div class="text_zone">
    <p id="deff"></p>
</div>
<div id="guesses">
    {% for row in grid%}
        <div class="row" id="{{ row[0][0:2] }}">
            {% for cell in row%}
                <input class="cell" id="{{ cell }}" maxlength=1 autocomplete="off" onkeypress="get_guess(event)" disabled></input>
            {% endfor %}
        </div>
    {% endfor %}
</div>
<script src="{{ url_for('static', filename='src/latin_wordle.js') }}"></script>
{% endblock %}